body {   
font-family: 'Raleway','Helvetica','Arial',sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;	
	margin: 0;
}

.menu-bar {
	width: 65px;
	position: absolute;
	right: 3px;
	top:265px;
	border-radius: 5px;
	background-color: white;
	position: fixed;
	color: #838383;
    box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);
	height: 367px;
	text-align: center;
}

.lope {
	padding-left: 6px;
}

.icons {
	font-size: 26px
}

.icon-dev {
	padding: 14px 14px;
	border-bottom:  1px solid #f1f3fc;
	cursor: pointer;
}

.icon-dev:hover {
	background-color: aliceblue;
	border-radius: 4px;
	color: #436dfe;
}

.header {
	display: flex;
	border-bottom: .5px solid ;
	border-color: #c1c1c1e6;
}

.nav1 {
	flex-grow:0.9;
}

.icon {
	display: flex;
	list-style: none;
}

.home {
	color: #3c3c3c;
}

.home:focus {
	padding-bottom: 5px;
	border-bottom: 2px solid #436dfe;
	font-weight: bold;
	
}

li {
	padding: 0 10px ;
	letter-spacing: .1px;
	font-size: 13px;
	font-family: sans-serif;
	
}

.fa-envelope , .fa-phone , .fa-clock {
	margin-right: 10px;
}

.fa-long-arrow-alt-right {
	margin-left: 10px
}

.fa ,.fab ,.far {
    font-size: 17px
}

.fa-search {
	margin-left: 20px;
}

.fa-headphones-alt , .fa-project-diagram , .fa-envelope-open, .glass{
	font-size: 36px;
    color: #436dfe;
}

.fixed-menu {
	display: flex;
	padding: 28px;
	justify-content: flex-end;  /*when i make display:fixed , the effect of display: flex will be wrong*/
}

.image {
	flex-grow: .923;
}

.nav3 {
	flex-grow: .04;
}

.nav3 li {
	font-size: 14px;
	padding-left: 30px;
}

.image2 {
    width:100%
}

.title {
    text-align: center;
    width:700px;
	margin: auto;
	margin-top: 165px
}

.text {
    font-size: 19px;
    color: #a3a3a3;
	line-height: 1.8;
	font-weight: 400;
}

.offer {
	font-weight: 700;
    line-height: 50px;
    color: #30314f;
	margin-top: 10px;
	font-size: 40px;
}

.account-photo {
	background-image:url(../photo/slide.jpg);
	background-size: cover;
	display: flex;
    height: 750px;
	justify-content:space-around;
}

.accounting {
	width: 800px;
	margin-top: 150px;
	margin-left: 
}

.h1 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
}

.txt {
	
	font-size: 20px;
	font-weight: 400;
    line-height: 1.8;
	color:rgba(255,255,255,0.6);
	margin-bottom: 15px;
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
	width: 158px;
	height: 60px;
	border-radius: 5px;
	border: .6px solid;
	border-color: #d9d9d9;
	margin-top: 30px;
	margin-right: 20px;
}

a {
	text-decoration: none;
}

.btn1 {
	font-size:15px;
	color: #2b2727;
	font-weight: bold;
	margin-top: 17px;
	display: inline-block;
}

.btn-bg {
	background-color: white;
}

.btn2 {
	font-size:15px;
	font-weight: bold;
	color: white;
	margin-top: 17px;
	display: inline-block;
	
}

.form {
    width:340px;
	background-color:white;
	padding: 40px;
	margin-top: 110px;
	text-align: left;
	height: 610px;
	box-shadow: 0px 5px 20px ;
}

.h2 {
	
	font-size:24px;
	font-weight: 700;
	color: #30314f;
	margin-bottom: 20px;
}

input , select{
	height: 60px;
    border: 1px solid #e3e3e3;
	font-size:15px;
	line-height: 60px;
	padding: 0 20px;
	margin-bottom: 25px;
}

input {
	width:280px;
	color: #8d8d8d;
	font-style: italic;
}

.select {
	font-style: normal;
	color:#8d8d8d;
	width:320px
}

.label {
	color: #888787;
	margin:10px 0;
	line-height: 19.5px;
	font-size: 15px;
}

.send {
	color: white;
	background-color: #2d58ec;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	width:320px;
	cursor: pointer;
}

.slices {
	display: flex;
	margin-top: 50px;
	padding: 50px;
    text-align:center;
}

.slice {
	width: 40px;
	height: 36px;
	transition: all 0.4s ease-in-out;
    background-color: #e6ecff;
    border-radius: 8px;
    padding: 22px 23px 17px 23px;
	cursor: pointer;
	padding: 23px;
	margin: auto;
}

.slice:hover {
    background-color: #436dfe;
    color: #fff;
}

.fa-headphones-alt:hover , .fa-project-diagram:hover, .fa-envelope-open:hover, .glass:hover {
	color: white
}

.dev {
	padding: 0 30px;
	width:290px;
	height: 360px;
}

.Accounting-service {
	margin-bottom:10px ;
	margin-top: 36px;
	font-size: 18px;
	font-weight: 700;
}

.york {
	font-size: 16px;
	line-height: 24px;
   	color: #838383
}

.information {
	padding-top: 65px;
	display: flex;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 120px;
}

.image-us {
	background-image: url(../photo/about-us.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	width: 370px;
	height: 520px;
}

.innovation {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 35px;
	width:580px;
	margin: auto;
	margin-top: 70px
}

.about-us {
    margin: 0 0 10px; 
  	font-size: 18px;
    color: #a3a3a3;
}

.h1-info {
	font-size: 40px;
	font-weight: 700;
	color: #30314f;
	margin-top: 0px;
	margin-bottom: 0;
}

.txt-info {
	margin-top: 35px;
	font-size: 18px;
    color: #838383;
}

.learn-more {
	line-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #436dfe;
	font-weight: 700;
	width:80px;
	height: 60px;
	margin-top:50px; 
}


#learn {
	color: white
}

.achieve {
	background-image: url(../photo/achievements-bg.jpg);
	background-size: cover;
	padding: 100px 75px 0 75px;
	height: 380px
}

.Achievements {
	text-align: center;
	height: 152px;
}

.fact {
	font-size: 20px;
	margin: 0 0 05px;
	line-height: 1.8;
	color: rgba(255,255,255,0.6);
	letter-spacing: .4px;
}

.achieve-number {
	font-size: 40px;
	color: white;
	margin: 0;
}

.finish-project {
	display: flex;
	height: 280px;
	width:1350px;
	text-align: center;
	box-shadow:0px 35px 60px 0px rgba(0, 0, 0, 0.1);
}

.project1 {
	background-color: white;
	width: 400px;
	padding: 85px 45px 70px 45px;
}

.bord ,.definition {
	border-right: 1px solid #f1f3fc;
	
}

.number {
	color: #3865ff;
	font-size: 50px;
	font-weight: bold;
}

.number2 {
	font-size: 50px;
	font-weight: bold;
	color: #2a93ff
}

.p-project {
	color: #30314f;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.fa-check-circle ,.fa-mug-hot ,.fa-book-open {
	padding-right: 15px;
	font-size: 35px
}

.benefits {
	display: flex;
	padding-top: 150px;
	width: 1348px;
	margin: auto;
	margin-top: 30px;
	justify-content: space-between;
    height: 700px;	
}

.benefit-txt {
	display: flex
}

.why-us, p {
	font-size: 20px;
    color: #838383;
	margin-bottom: 10px;
	display: block;
}

.client {
	margin: 0;
	color: 	#30314f;
	font-size: 40px;
	font-weight: 700;
}

.marg {
	margin-bottom: 50px;
}

.for-layer {
	display: flex;
	width: 660px;
	margin-bottom: 45px
}

.layer1 {
	padding-right: 30px
}

.head-layer{
	font-size: 20px;
    color: #30314f;
	font-weight: bold;
	margin:0
}

.Testimonials {
	padding-top: 80px;
	background-image: url(../photo/testimonials-bg.jpg);
	background-size: cover;
	height: 428px;
	margin-bottom: 180px;
}

.for-marg {
	text-align: center;
}

.test {
	margin-bottom: 32px
}

.container {
	display: flex;
	width: 1348px;
	margin: auto;
	background-color: white;
	box-shadow:  0 15px 25px -7px rgba(0,0,0,.09);
	margin-bottom: 50px;
}

.definition {
	padding: 50px 60px 45px 60px;
}

.h4 {
	margin: 0;
	color: #30314f;
	font-size:1.3em ;
	margin-top: 22px;
	letter-spacing: -.8px
}

.Grassling {
	margin: 0;
	font-size: 14px;
	margin-bottom: 22px;
	color: #838383;
}

.fa-quote-left {
	font-size: 30px;
    color: #436dfe;
}

.ul {
	display: flex;
	justify-content: center;
	margin-left:35px;
}

.li {
	font-size: 35px;
	margin-right: 5px;
	color: #50485b;
}

.slide-show {
}

.thePrice {
    margin-top: 220px;
	padding-top: 90px;
	padding-bottom: 120px;
}

.price-table {
	display: flex;
	justify-content: center;
}

.price-t1 {
	border-top: 1px solid #e8ebf6;
	border-bottom: 1px solid #e8ebf6; 
    border-left: 1px solid #e8ebf6; 
	width: 370px;
	background-color: #f9faff;
}

.p-price {
	border-top: 1px solid #e8ebf6;
}

.price-t2 {
	border: 2px solid #436dfe;
	width: 370px;
}

.count {
	font-size: 18px;
	color: #30314f;
	margin-bottom: 33px;
	margin-top: 30px;
}

.price-color {
	color: #436dfe;
}

.custom {
	color: #30314f;
	font-size: 18px
}

.m-price {
	margin-top: 10px
}

.button {
	width: 740px;
	background-color: #204ce4;
	height: 60px;
	border-radius: 5px;
	cursor: pointer;
    margin: 25px auto;
}

.contact {
    color: white;
	font-weight: 700;
	font-size: 15px;
	display: block;
	padding-top: 17px;
	text-align: center;
}

.bg-Financial {
	background-image: url(../photo/hire-us1.jpg);
	height: 388px;
	display: flex;
	justify-content: space-around;
}

.financial-title {
	width: 750px;
	align-self: center;
	flex-grow: .3;
}

.h11 {
	color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}

.today {
	width: 150px;
	height: 60px;
	background-color: #00be55;
    border-radius: 5px;
	align-self: center;
	flex-grow: .002
}

footer {
	height:  203px;
	padding-top:100px ;
	padding-bottom:85px ;
	display: flex;
	justify-content: space-around
}

.section1 {
	width: 375px;
	margin-left: 50px;
	margin-right: 215px;
	flex-grow:.5;
}

.section2 {
	flex-grow: .01;
	display: flex;
	width:585px;
}

.now {
	font-size: 17px;
}

.reserv {
	font-size:13px;
	margin-top: 32px;
}

.h5 {
	font-size: 18px;
    font-weight: 700;
    color: #3c3c3c;
}

.element {
    margin: 0 0 10px;
    font-size: 17px;
    color: #838383;
}

.element:hover {
	color: #3e6aff
}

.part {
	width: 175px;
}

.fa-facebook , .fa-twitter-square{
	line-height: 48px;
    font-size: 18px;
    color:#3e6aff;
}

.sec-icon {
	display: flex;
	margin-top: 15px
}

.dev-icon {
	transition: all 0.4s ease-in-out;
    background-color: #f0f3fd;
    border-radius: 100px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
	margin-right: 20px;
}

.dev-icon:hover {
	background-color: #8ba6fe;
	cursor: pointer;
}